---
---

$font-body: "macho", sans-serif;
$font-heading: "macho", sans-serif ;

$color-body: #41414D;
$color-featured: #00A9BF;
$color-featured-f: white;
$color-dark: #5a5a5a;
$color-dark-f: white;
$color-light: #fafafc;
$color-light-f: rgb(80,80,80) ;

@import 'reset';
@import 'universal';
@import 'grid';
@import 'header';
@import 'browser';
@import 'svg';
@import 'forms';
@import 'img';
@import 'typography';
@import 'blockTemplates';
@import 'ungrouped';
@import 'banners';
@import 'social';
@import 'tables';
@import 'footer';
@import 'md';
@import 'responsive';
