---
title: Institute of Code
layout: default

---
<section class="video-banner white-bottom" style="background-image:url({{page.background-1_path}});">

    <div class="banner-inner">
        <h2> BLOG </h2>
        <p> Musings from the IOC team</p>
    </div>
    <video autoplay loop poster="/assets/images/campus-PM.jpg">
        <source class="lazy-load" src="" data-src="/assets/website-video-coding4.mp4">
        your browser does not support video
    </video>
    {% include reverse-triangle-down.html %}
</section>

<section class="blog">
    {% for post in site.posts %}
    <article> <!-- Blog Excert -->
        <a class="grid white-right" href="{{ post.url }}">
          <div class="col-2_sm-0 border-right right mob-hide">
              <span class="month"> {{post.month}} </span>
              <span class="date">{{post.day}}</span>
          </div>
          <div class="col-5" style="background-image:url('{{post.image_path}}')">
                  <svg class="arrow-right right" x="0px" y="0px"
  	 viewBox="0 0 100 600" enable-background="new 0 0 100 600">
          <polygon class="white" points="100,600 100,0 0,0 78,300 0,600"/>
  </svg>
          </div>
          <div class="col-5 padded">
              <h2> {{ post.title }}</h2>
              <p> {{post.excerpt}} </p>
          </div>
        </a>
    </article>
    {% endfor %}


</section>
{% include instagram.html %}
