---
title: Institute of Code
layout: default
background-1_path: /assets/images/still_pool_sunrise.jpg
background-2_path: /assets/images/still_para_up.jpg
---
<section class="video-banner white-bottom" style="background-image:url({{page.background-1_path}});">

    <div class="banner-inner">
        <h2 class="editable">Our Campus in Bali</h2>
        <p class="editable emphasis">Learn from somewhere you'd rather be</p>
    </div>
    <video autoplay loop>
        <source class="lazy-load" src="" data-src="/assets/website-video-villa-life.mp4" >
        your browser does not support video
    </video>
    {% include reverse-triangle-down.html %}
</section>
<!---------------------- SECTION 2 --------------------------->
<section class="no-padding white-bottom">
      <div class="banner-inner">
      <h3 class="block centered"> AN ACCELERATED LEARNING <span> ENVIRONMENT </span></h3>
      <div class="grid">
        <div class="col-6_sm-12">
          <h3 class="editable"> A private pool villa nestled between the rice paddies </h3>
              <p class="editable">We've tried to forget everything we knew about what a school was and reimagined what a school could be. The result is multiple campuses that can be found in incredible locations around the world.</p>
              <p class="editable">We believe the best learning happens in an exciting and stimulating environment that allows you to take your mind of everyday living.</p>
        </div>
        <div class="col-6_sm-12">

        <h3 class="editable">Everything you need to help you thrive</h3>
              <p class="editable">Apart from being set in beautiful locations, we take care of all the small stuff that usually clogs up your spare time. Our private chef makes sure all your meals are nutritious and most importantly taste amazing.</p>
              <p class="editable">You don't have to worry about dishes or washing and all your transport needs are taken care of. It's our job to make sure you're in the best frame of mind for learning.</p>
        </div>
      </div>
    </div>
        <img class="large editable" id="cms-identifiable-725" data-cms-cid="725" src="/assets/images/new-villa-1.jpg" />
        {% include reverse-triangle-down.html %}

</section>

<!---------- SECTION 3 - Yoga & Food -------------->

<section class="grid">
    <div class="col-6_sm-12">
        <img src="/assets/text/Yoga-01-01.svg" class="header-text editable" />
        <p class="editable">Rejuvenate the body and mind with daily yoga. Our trained yoga instructor caters for all levels of 'enthusiasm'.</p>
        <img class="editable" id="cms-identifiable-786" data-cms-cid="782" src="/uploads/versions/ac7dx8556---x0-0-5184-3456-5760-3840x---.jpg" />
    </div><!--
    --><div class="col-6_sm-12">
            <div class="right">
                <img src="/assets/text/Food-02-02.svg" class="header-text right editable" />
            </div>
        <p class="editable">Fuel your body with nutritious meals, snacks and smoothies prepared by our private on-site chef.</p>
        <img src="/assets/images/campus-food.jpg" class="editable" />
    </div>

</section>


<section class="video-banner white-top teal-bottom" style="background-image:url({{page.background-2_path}});">
    {% include reverse-triangle-up.html %}
       <svg class="mask top" x="0px" y="0px" viewbox="0 0 600 50" enable-background="new 0 250 1200 100" xml:space="preserve">
        <polygon class="white" points="600,50 300,0 0,50 0,0 600,0" />
    </svg>
    <video autoplay loop>
        <source class="lazy-load" src="" data-src="/assets/activity-1.mp4" />
        your browser does not support video
    </video>
  {% include reverse-triangle-down.html %}
</section>

<!---------- WHATS INCLUDED -------------->
<section class="featured inclusions grid">
  <div class="col-6_sm-12">
      <img src="/assets/text/what-included.svg" class="header-text editable" />
      <p class="editable">We make our programs all-inclusive so you can kick back, relax and focus on learning.&nbsp;</p>
      <a data-sumome-listbuilder-id="5e3c2317-54d6-4c1c-845d-29f9f14fd5ed" class="button"> Download a Course Guide </a>
  </div><!--
  --><div class="col-1_sm-0"><!-- spacer--></div><!--
  --><div class="col-5_sm-12 no-bullets">
        <ul>
            <li class="editable"><i class="fa fa-check"></i>100+ hours practical coursework</li>
            <li class="editable"><i class="fa fa-check"></i>9 nights accomodation </li>
            <li class="editable"><i class="fa fa-check"></i>All meals by an in-house chef</li>
            <li class="editable"><i class="fa fa-check"></i>Daily yoga & mindfulness meditation</li>
            <li class="editable"><i class="fa fa-check"></i>Excursions & activities</li>
            <li class="editable"><i class="fa fa-check"></i>1 hour massage</li>
            <li class="editable"><i class="fa fa-check"></i>Airport transfer</li>
            <li class="editable"><i class="fa fa-check"></i>Course materials</li>
            <li class="editable"><i class="fa fa-check"></i>Ongoing support & Video Tutorials</li>
            <li class="editable"><i class="fa fa-check"></i>12 months web hosting</li>
        </ul>
  </div>
</section>

{% include dates.html %}

<section class="featured">
    <div class="six-wide">
      <h2 class="block">GET IN<span>TOUCH</span></h2>
      <p> Have a few questions before you are ready to take the plunge? Just send us through a message or live chat with us (that adorable icon in the bottom right hand corner) and one of our team will help you figure out the program that's right for you. </p>
    </div><!--
    --><div class="six-wide">
        <form action="https://formspree.io/hello@instituteofcode.com"
            method="POST">
          <input type="text" name="name" placeholder="Name"><!--
          --><input type="email" name="_replyto" placeholder="Email">
          <input type="tel" name="phone" placeholder="Phone Number"><!--
          --><input type="text" name="date" placeholder="Date Interested in">
          <textarea name="message" placeholder="Message"></textarea>
          <input type="submit" value="Send" class="button">
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_next" value="/thanks.html" />
        </form>
    </div>
</section>
<section class="two-box">
    <div class="box-img white-right" style="background-image:url('/assets/images/C7DX8766.jpg')">
      {% include right-slanted-top.html %}
    </div><!--
--><div class="box-text right">
      <div class="header-horiz">
        <h2>AM</h2>
        <span class="left">Study in<br>Paradise</span>
      </div>
      <p class="editable">After waking up in a tropical paradise, and maybe sneaking in a yoga session or a massage, we will dive in deep and start writing code, learning from doing... with the help of your experienced mentors, see your screen come to life from the very first day. With spectacular scenery as your backdrop, and the chef whipping up ice-cold watermelon granita to keep you refreshed, you can focus on learning, building and creating. When you need a break, take a quick dip in the pool, or sip an ice latte in the sun.</p>
</div>
</section>
<section class="two-box">
    <div class="box-img mob-show" style="background-image:url('/assets/images/girls-beach.jpg')">

    </div><!--
--><div class="box-text">
      <div class="header-horiz">
        <span class="right">Relax &<br>Explore</span>
        <h2>PM</h2>
      </div>
      <p class="editable">After enjoying a chef-prepared lunch in the shade, get back to it for another 1-2 hours of practical work. Then you are free to spend some one-on-one time with your experienced mentors working on your portfolio, or explore all that the town has to offer. Join us to wander through exotic markets, explore ancient rainforests, hit the surf or just relax with a cocktail by the pool. At night we'll gather back together in the villa for an indulgent 3+ course meal and some great company.&nbsp;</p>
   </div><!--
   --><div class="box-img mob-hide right white-left" style="background-image:url('/assets/images/girls-beach.jpg')">
         {% include left-slanted-bottom.html %}
      </div>

</section>

{% include instagram.html %}
