---
title: Careers | Institute of Code
layout: default
---

<section class="video-banner">

    {% include header.html %}

    <div class="banner-inner">
        <h2> Careers </h2>
        <p class="emphasis">Join our Team </p>
    </div>
    <video autoplay loop poster="/assets/images/Nick.png">
        <source src="/assets/website-video-coding1.mp4" type="video/mp4">
        your browser does not support video
    </video>
<!--    <img src="/assets/shapes/triangle.svg" class="mask teal">-->
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
            <polygon class="white" points="600,250 0,350 1200,350" />
    </svg>
</section>
<section>
  <h2 class="block"> We're Hiring </h2>
  <p>We're trying to change the landscape of tech education, and we want you to join our team.</p>
  <p>We're a 12 month old startup that runs coding retreats in Bali -- think coding Bootcamp + all-inclusive retreat mashed together and that's basically what we do. We take students, entrepreneurs, marketers and creatives away from the stress of day to day life, pop them down in a private pool villa, keep them nimble and relaxed with in house yoga and keep their stomachs happy with our in-house chef. Then we teach them in-demand digital skills to help them accelerate their careers. After a big day of coding, our 'extra curriculars' include things like paddle-boarding, surfing, parasailing, banana boating and just sipping cocktails and watching the sunset. Then we wake up and do it all again. It's a hard life.</p>
  <img class="full-width" src="/assets/images/new-villa-1.png">

  <hr> <!-- line break -->

  <h3> Web Development Mentor </h3>
  <p> We're looking for a savvy developer to join our team as a mentor of our 10 day web development bootcamp! If waking up in a luxury pool villa in Bali or Mexico, enjoying sunrise yoga and breakfast prepared by an in-house chef before working with a team of passionate developers to teach students from all over the world how to build responsive websites from scratch sounds like your cup of tea, then read on! </p>
  <p> We're looking for a mentor who can join us from Nov 10th - Dec 10th 2016 in Bali and ideally looking to join us next year starting in February </p>
  <p> Skills required:
  <ul>
    <li>2+ years experience in web development</li>
    <li>strong understanding of HTML & CSS</li>
    <li>moderate jQuery experience</li>
    <li>excellent communication and interpersonal skills</li>
    <li>no teaching experience required. </li>
    <li>UX or design skills appreciated but not required</li>
  </ul>
  <p> On retreat you'll live in the villa with our team and 12 fantastic students -- entrepreneurs, creatives, and aspiring individuals passionate about developing their skills. We provide the curriculum, you bring your knowledge, experience and enthusiasm to the table. Ideally you will have a minimum of 3-5 years web development experience, excellent personal and communcation skills and a passion for helping others. </p>
  <p> We're looking to fill this role as soon as possible. We will provide return flights (capped at $500), all accomodation, meals, transport, visa costs etc as well as a stipend. </p>
  <a class="button" href="https://instituteofcode.typeform.com/to/BZZAiy"> Apply Now </a>

</section>
{% include instagram.html %}
