---
title: $500 Scholarship for Women
layout: default
featured-image_path: /assets/images/tina-becky-6238.jpg
---

<section class="image-banner">

    {% include header.html %}

    <div class="banner-inner">
        <h2> We invest in the future of women in tech </h2>
        <p class="emphasis">Apply for a full-ride scholarship to The Institute of Code's Feb 4 - 14 bootcamp </p>
    </div>
<!--    <img src="/assets/shapes/triangle.svg" class="mask teal">-->
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
            <polygon class="white" points="600,250 0,350 1200,350" />
    </svg>
</section>

<section>
   <div class="vert-center">
        <h2 class="mob-show block">WHAT YOU WILL<span>LEARN</span></h2>
        <img class="vert-text two-wide editable mob-hide" src="../assets/text/Learn.svg" /><!--
        --><div class="five-wide">
            <ul>
              <li>+ web fundamentals </li>
              <li>+ talk-the-talk with developers</li>
              <li>+ HTML, CSS & basic Javascript</li>
              <li>+ how to build a responsive website</li>
              <li>+ how to create a blog </li>
              <li>+ setup an ecommerce store</li>
              <li>+ create galleries, contact forms & sliders</li>
              <li>+ embed videos & interactive maps</li>
              <li>+ cross-browser compatability</li>
              <li>+ how to set up hosting & domain names</li>
              <li>+ optimising your site for google</li>
            </ul>
        </div><!--
        --><div class="two-wide curl mob-hide">
            <span class="teal"> } </span>
        </div><!--
        --><div class="three-wide">
            <p class="teal editable emphasis">how to build kickass websites from scratch</p>
            <p> </p>
        </div>
     </div>
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
            <polygon class="white" points="1200,350 0,350 1200,250" />
        </svg>
</section>
<!---------- WHATS INCLUDED -------------->
<section class="grey inclusions padded-bottom">
<div class="five-wide">
<h2 class="block"> WHATS <span> INCLUDED</span></h2>
<p class="editable">We make our programs all-inclusive so you can kick back, relax and focus on learning.</p>
<p class="emphasis">After your $500 Scholarship the all-inclusive program is only $2450US. </p>
</div><!--
--><div class="two-wide"><!-- spacer--></div><!--
--><div class="five-wide">
<ul>
    <li class="editable"><i class="fa fa-check"></i>100+ hours practical coursework</li>
    <li class="editable"><i class="fa fa-check"></i>9 nights accommodation </li>
    <li class="editable"><i class="fa fa-check"></i>All meals by an in-house chef</li>
    <li class="editable"><i class="fa fa-check"></i>Daily yoga</li>
    <li class="editable"><i class="fa fa-check"></i>Excursions & activities</li>
    <li class="editable"><i class="fa fa-check"></i>1 hour massage</li>
    <li class="editable"><i class="fa fa-check"></i>Airport transfer</li>
    <li class="editable"><i class="fa fa-check"></i>Course materials</li>
    <li class="editable"><i class="fa fa-check"></i>Ongoing support & Video Tutorials</li>
    <li class="editable"><i class="fa fa-check"></i>12 months web hosting</li>
</ul>
</div>
<svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
<polygon class="white" points="1200,350 1200,250 600,350 0,250 0,350" />
</svg>
</section>
<section id="enrol">
      <h2 class="block">APPLY NOW<span>WOMEN'S SCHOLARSHIP</span></h2>
      <p><span class="emphasis">How the scholarship works:</span> We're looking to empower more women in tech so we're offering a $500 scholarship (on top of an existing $500 discount) for our upcoming 10 day coding bootcamp. Just fill out the short application below, and we'll send through more information to your email and give you a call to discuss. The successfull applicants will build a responsive website for a women's charity during the 10 day course. </p>
      <form action="https://formspree.io/hello@instituteofcode.com"
          method="POST" class="enrol">

        <label for="name"> Your Name </label>
        <input type="text" name="name" id="name" placeholder="Name">

        <label for="email"> Your Email </label>
        <input type="email" name="_replyto"  id="email" placeholder="Email">

        <label for="phone"> Your Phone Number </label>
        <input type="tel" name="phone" id="phone" placeholder="+(Country Code) Phone Number">

        <label for="location"> Your Current Location </label>
        <input type="text" name="location" id="location" placeholder="City, Country">

        <label for="name"> Why do you want to attend our program? </label>
        <textarea name="message" id="message" placeholder="Because... "></textarea>

        <label for="name"> How would learning to code help you? </label>
        <textarea name="message" id="message" placeholder="Because... "></textarea>
        <input type="submit" value="Submit" class="button">

        <!-- These are hidden fields -->
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="/thanks.html" />
      </form>
</section>

<section class="social-proof no-padding">
    <svg class="mask top" x="0px" y="0px" viewbox="0 0 1200 100" enable-background="new 0 0 1200 100" xml:space="preserve">
        <polygon class="white" points="0,0 1200,0 0,100 " />
        </svg>
    <div class="col first">
            <p class="editable">"It was straight out of the brochure, so happy I attended." - Claire, 2016</p>
    </div><!--
    --><div class="col second">
            <p class="editable">"Thanks to the IOC for giving me this opportunity, for always being supportive through my journey and for teaching me some awesome skills that I will definitely help me in my future endeavours." - Jo, 2016</p>
    </div><!--
    --><div class="col third mob-hide">
            <p class="editable">"I'd definitely recommend the trip to anyone I know thats even slightly interested in WebDev to take the course and learn some new skills, meet some great people and have an experience that you won't ever forget.." - Ibrahim, 2016</p>
    </div><!--
    --><div class="col fourth">
<p class="editable">"The mentors were great, always there when you needed them and were so encouraging." - Christine, 2016</p>
</div><!--
--><div class="col fifth">
<p class="editable">"My eyes and heart have been opened by all the new experiences I have had and all the new people I have met, thank you IOC." - Josh, 2016</p>
</div><!--
--><div class="col sixth mob-hide">
<p class="editable">"The amazing staff orchestrated everything for us so all we had to do was relax, soak in new things and have fun." - Sharny, 2016</p>
</div>
</section>


<section class="featured">
    <h2 class="block"> OUR <span>CAMPUS</span> </h2>
    <img class="full-width" src="/assets/images/new-villa-1.png" alt="institute of code campus">
    <img class="half-width" src="/assets/images/villa/villa-2.jpg" alt="institute of code campus"><!--
    --><img class="half-width" src="/assets/images/villa/villa-3.jpg" alt="institute of code campus">
    <img class="half-width" src="/assets/images/villa/villa-4.jpg" alt="institute of code campus"><!--
    --><img class="half-width" src="/assets/images/villa/villa-5.jpg" alt="institute of code campus">
    <h2> Want to learn more? Check out our recent coverage by CNN at our past location in Sayulita</h2>
    <iframe width="100%" height="350" src="https://www.youtube.com/embed/ub3H3xgFrAY" frameborder="0" allowfullscreen></iframe>
</section>
<section class="faqs">
    <h2 class="block"> <span>FAQs</span> </h2>
    <div class="columns">
		<h5>What experience or skills do I need to have?</h5>
		<p>If you can send an email, watch cat videos on youtube, and stalk your ex on facebook, you have the technical chops required for this course. Zero to hero, that's the philosophy.</p>

		<h5>Is it really all inclusive?</h5>
		<p>We cover all of your mandatory expenses from the moment you step off the plane, including everything mentioned above and a few little bonus extras. It doesn't include your flights,  alcohol, optional excursions (like ziplining or a cooking class.), or anything outside of the necessities that you decide to spend your money on (and no, Bintang singlets are not considered a necessity).</p>

		<h5>What can I expect to spend all up?</h5>
		<p>Your only other mandatory cost is your flights. For the best rates, check Skyscanner. </p>
    <p> A bottle of beer will set you back $2-3 in a bar, most optional activities (like parasailing) are less than $20.</p>

		<h5>Can I stay longer than 10 days?</h5>
		<p>Of course. If you want to add a few days or a week on either side of your stay, we can help you book and organise everything for that. There is so much to see and explore, if you have the time, why not!</p>

		<h5>Do I need to bring a computer?</h5>
		<p>We ask that everyone brings along their own laptop for the course. If you don't have a laptop, we can rent one to you for a small additional cost.</p>

		<h5>Who can attend The Institute of Code?</h5>
		<p>We accept anyone aged 18+, and expect that those who will enjoy it the most are between 18-35, or young at heart.</p>

		<h5>This kind of sounds too good to be true</h5>
		<p>We actually get this a lot. We promise we are 100% legit. Want to speak to past student, mentor or even one of our Co-Founders? Just send us a message below and ask. Also check out videos and photos from our recent sessions on our instagram (@instituteofcode).</p>

    <h5> What happens once I enroll? Am I locked in to doing the course? </h5>
    <p> Not at all, once you submit your enrollment one of our team will review and get back to you within 48 hours. We'll then send you an email with the option to complete either a short written application or skype with one of our team. They will chat to you about your goals, the experience and outcomes of the course, answer any questions you might have and together make sure that the program is the right fit for you.</p>
    <p> After the call, you'll be given a pre-course info pack with all the final details about the course, the location, etc to review and then you will have the opportunity to book and pay a deposit of $250 to confirm your place.</p>
    <p> Once you have booked we'll organise a payment plan with you. You can pay everything up front, or split it up into multiple payments at no extra cost. </p>
  </div>
</section>

{% include instagram.html %}
