---
layout: default
title: Enroll Now | Institute of Code
---

<section class="video-banner">

    {% include header.html %}

    <div class="banner-inner">
        <h2 class="block">Secure Your Spot <span> 24 HOURS ONLY - $500 Off</span></h2>
    </div>
    <video autoplay loop poster="/assets/images/rice-paddy.jpg">
        <source src="/assets/website-video-coding2.mp4" type="video/mp4" />
        your browser does not support video
    </video>
<!--    <img src="/assets/shapes/triangle.svg" class="mask teal">-->
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
            <polygon class="white" points="600,250 0,350 1200,350" />
    </svg>
</section>

<section id="enrol">
  <div class="six-wide editable highlight-box light centered">
            <h2> Our Process </h2>
            <h3> Step 1: Apply </h3>
            <p> Just fill out your details in the form above, and we'll send you through more information, give you a call to answer and questions and then send you through the full enrollment form </p>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            <h3> Step 2: Enroll </h3>
            <p> After we've answered any questions you might have, we'll send through the enrollment application. This takes around 15 - 20 minutes to fill in, and we'll get back to you within 48 hours to let you know if you have been accepted into the program </p>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            <h3> Step 3: Book </h3>
            <p> If you've been accepted into the program we'll send you through a link where you can formally book the course and pay a $250US deposit. As soon as we have received your deposit, we'll give you access to the pre-coursework containing exclusive video tutorials, help you start planning your portfolio and organise a payment plan for the remaining balance (you can pay upfront or in installments) </p>
  </div><!--
  --><div class="six-wide padded">

      <h2 class="block">Step 1<span>APPLY NOW</span></h2>
        <form action="https://formspree.io/hello@instituteofcode.com"
            method="POST" class="enrol">

          <label for="name"> Your Name </label>
          <input type="text" name="name" id="name" placeholder="Name">

          <label for="email"> Your Email </label>
          <input type="email" name="_replyto"  id="email" placeholder="Email">

          <label for="phone"> Your Phone Number </label>
          <input type="tel" name="phone" id="phone" placeholder="+(Country Code) Phone Number">

          <label for="location"> Your Current Location </label>
          <input type="text" name="location" id="location" placeholder="City, Country">

          <label for="name"> When do you want to attend? </label>
          <input type="text" name="date" id="date" placeholder="Nov 14 - 23 / Nov 26 - Dec 5 / Other">

          <label for="name"> Why do you want to attend our program? </label>
          <textarea name="message" id="message" placeholder="Because... "></textarea>
          <input type="submit" value="Submit" class="button">

          <!-- These are hidden fields -->
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_next" value="/thanks.html" />
        </form>

    </div>
</section>

{% include instagram.html %}
