---
title: Book a Code Retreat for free flights to Mexico!
layout: default
---

<section class="video-banner">

    {% include header.html %}

    <div class="banner-inner">
        <h2>Learn to Code in Sayulita</h2>
        <p class="emphasis"> Enroll in a 10 day web development bootcamp in August or September and we'll pay up to $500US towards your flight costs</p>
        <a class="button" href="#apply"> APPLY NOW </a>
    </div>
    <video autoplay loop poster="/assets/images/still_sandra_rice.jpg">
        <source src="/assets/website-video-coding1.mp4" type="video/mp4">
        your browser does not support video
    </video>
<!--    <img src="/assets/shapes/triangle.svg" class="mask teal">-->
      <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
              <polygon class="white" points="600,250 0,350 1200,350" />
      </svg>
</section>
<section class="centered">
    <img src="/assets/text/banner.svg" class="mob-hide" />
    <!-- This is the upsidedown triangle -->
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
        <polygon class="teal" points="1200,350 1200,250 600,350 0,250 0,350" />
    </svg>
<div class="mob-show">
    <h3> Learn Fast </h3>
    <p> Just like learning any new language, the best way to learn to code is to dive in deep. Step away from the stress of everyday life and immerse yourself in the perfect learning environment.</p>
    <h3> All Inclusive </h3>
    <p> We take care of everything from the minute you step off the plane so that you can just focus on learning and relaxing. We want you to be thinking about what you’re learning not the bill for lunch </p>
    <h3> Zero To Hero </h3>
    <p>  With no prior experience our signature course will teach you how to code beautiful responsive websites. We believe in learning by doing, so by the end of the course you’ll have built your first site!</p>
</div>
</section>
<section class="featured" id="enrol">
      <h2 class="block">ENROlL NOW<span>AND EARN $500 FLIGHT CREDIT</span></h2>
      <p class="emphasis"> Enroll in Aug 22 - 31 or Sep 7 - 16  and we'll chip in $500 towards your return flight to Puerto Vallarta </p>
      <p> To celebrate our first retreat at our new location, the beautiful Sayulita, we naturally wanted to do a little something extra special.So we're going to offer anyone who enrolls for August / September a $500 flight voucher towards attending the program.</p>
      <p> This epic deal is not valid with any other offers </p>
        <form action="https://formspree.io/hello@instituteofcode.com"
            method="POST" class="enrol">
          <div>
            <span> 1.</span> <input type="text" name="name" placeholder="Name">
          </div>
          <div>
            <span> 2.</span>  <input type="email" name="_replyto" placeholder="Email">
          </div>
          <div>
            <span> 3.</span>  <input type="tel" name="phone" placeholder="Phone Number">
          </div>
          <div>
            <span> 4.</span>  <input type="text" name="phone" placeholder="City, Country">
          </div>
          <div>
            <span> 5.</span>  <input type="text" name="phone" placeholder="Best time to call">
          </div>
          <div>
            <span> 6.</span>  <input type="text" name="date" placeholder="Date Interested in">
          </div>
          <div>
            <span class="top"> 7.</span>  <textarea name="message" placeholder="Tell us a little bit about yourself..."></textarea>
          </div>
          <div>
            <span class="top"> 7.</span>  <textarea name="message" placeholder="What would this scholarship mean to you..."></textarea>
          </div>
          <input type="submit" value="Submit" class="button">
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_next" value="/thanks.html" />
        </form>
</section>
<section>
   <div class="vert-center">
        <h2 class="mob-show block">WHAT YOU WILL<span>LEARN</span></h2>
        <img class="vert-text two-wide editable mob-hide" src="../assets/text/Learn.svg" /><!--
        --><div class="five-wide">
            <ul>
              <li>+ web fundamentals </li>
              <li>+ talk-the-talk with developers</li>
              <li>+ HTML, CSS & basic Javascript</li>
              <li>+ how to build a responsive website</li>
              <li>+ how to create a blog </li>
              <li>+ setup an ecommerce store</li>
              <li>+ create galleries, contact forms & sliders</li>
              <li>+ embed videos & interactive maps</li>
              <li>+ cross-browser compatability</li>
              <li>+ how to set up hosting & domain names</li>
              <li>+ optimising your site for google</li>
            </ul>
        </div><!--
        --><div class="two-wide curl mob-hide">
            <span class="teal"> } </span>
        </div><!--
        --><div class="three-wide">
            <p class="teal editable emphasis">how to build kickass websites from scratch</p>
            <p> </p>
        </div>
     </div>
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
            <polygon class="grey" points="1200,350 0,350 1200,250" />
        </svg>
</section>
<section class="grey inclusions">
    <div class="five-wide">
    <h2 class="block"> WHAT'S <span> INCLUDED</span></h2>
    <p class="editable">We make our programs all-inclusive so you can kick back, relax and focus on learning.</p>
    <p class="emphasis"> All-inclusive, the course is only $3250US and payment plans and financing options are available for Australian and US residents. </p>
    </div><!--
    --><div class="two-wide"><!-- spacer--></div><!--
    --><div class="five-wide">
    <ul>
        <li class="editable"><i class="fa fa-check"></i>Limited Offer: $500 Flight Credit</li>
        <li class="editable"><i class="fa fa-check"></i>100+ hours practical coursework</li>
        <li class="editable"><i class="fa fa-check"></i>9 nights accommodation </li>
        <li class="editable"><i class="fa fa-check"></i>All meals by an in-house chef</li>
        <li class="editable"><i class="fa fa-check"></i>Daily yoga</li>
        <li class="editable"><i class="fa fa-check"></i>Excursions & activities</li>
        <li class="editable"><i class="fa fa-check"></i>1 hour massage</li>
        <li class="editable"><i class="fa fa-check"></i>Airport transfer</li>
        <li class="editable"><i class="fa fa-check"></i>Course materials</li>
        <li class="editable"><i class="fa fa-check"></i>Ongoing support & Video Tutorials</li>
        <li class="editable"><i class="fa fa-check"></i>12 months web hosting</li>
    </ul>
    </div>
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
        <polygon class="white" points="0,250 1200,350 0,350" />
    </svg>
</section>

<section class="centered tall-grid">
<h2 class="block"> SAYULTA <span> MEXICO</span></h2>
<p class="editable">Home to breathtaking beaches, amazing activities and rich Mexican culture, Sayulita is about 25 miles north of Puerto Vallarta. Best described as a chilled out surf town, Sayulita makes a perfect location to run our 10 day bootcamps. </p>
<p class="emphasis"> Sayulita is a safe, quiet part of Mexico just 30 mins from Puerto Vallarta and was rated as one of the top 'off the radar' destinations in Mexico to visit by <a href="https://www.theguardian.com/travel/2015/dec/12/sayulita-mexico-pacific-coast-puerto-vallarta-charter-flights" target="_blank"> Guardian </a> and <a href="http://www.huffingtonpost.com/findery/10-must-see-things-in-sayulita-mexico_b_7020678.html" target="_blank"> Huffington Post </a></p>
<p> Our campus is a stunning pool villa just 80m (~120 feet) from the beach, where we will spend our time learning how to code as well as relaxing by the pool. </p>
<img src="assets/images/campus-mexico-villa.jpg" class="full" />
<img src="assets/images/girls-beach.jpg" class="square"><!--
--><img src="assets/images/Sayulita-2.jpg" class="square">
<a class="button" href="#apply"> Apply Now </a>
</section>

  {% include instagram.html %}
