---
title: Institute of Code
layout: default
background-1_path: /assets/images/still_sandra_rice.jpg
background-2_path: /assets/images/still_sandra_forest.jpg
---

<section class="video-banner white-bottom" style="background-image:url({{page.background-1_path}});">

    <div class="banner-inner">
        <h2> Upskill in paradise </h2>
        <p class="emphasis">10-day immersive coding bootcamps in Bali</p>
    </div>
    <video autoplay loop>
        <source class="lazy-load" src="" data-src="/assets/home-video.mp4" type="video/mp4">
        your browser does not support video
    </video>
    {% include triangle-point-up.html %}
    <!-- <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
            <polygon class="white" points="600,250 0,350 1200,353" />
    </svg> -->
</section>

<!---------------------- SECTION 2 --------------------------->
<section class="centered  teal-bottom padded-bottom">
    <img src="/assets/text/banner.svg" class="mob-hide capped-width" />
    <!-- This is the upsidedown triangle -->

    {% include reverse-triangle-down.html %}
    <!-- <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
        <polygon class="teal" points="1200,353 1200,250 600,350 0,250 0,353" />
</svg> -->
<div class="mob-show">
    <h3 class="block"> Learn Fast </h3>
    <p> Just like learning any new language, the best way to learn to code is to dive in deep. Step away from the stress of everyday life and immerse yourself in the perfect learning environment.</p>

    <h3 class="block"> All Inclusive </h3>
    <p> We take care of everything from the minute you step off the plane so that you can just focus on learning and relaxing. We want you to be thinking about what you’re learning not the bill for lunch </p>
    <h3 class="block"> Zero To Hero </h3>
    <p>  With no prior experience our signature course will teach you how to code beautiful responsive websites. We believe in learning by doing, so by the end of the course you’ll have built your first site!</p>
</div>


</section>

<!---------------------- SECTION 3 --------------------------->
<section class="centered featured">
    <h4>OUR COURSES </h4>
    <div class="grid-s-1">
    <div class="col grow left">
        <div class="header-block left">
            <h2 class="block left"> Web Development <span> Bootcamp</span></h2>
        </div>
            <p class="editable">With little to no previous technical experience we'll teach you how to write HTML, CSS and Javascript code to build responsive websites from scratch and build a portfolio of responsive sites. </p>
            <img src="/assets/images/WebDev-flowstate.jpg" class="full editable" />
            <a href="/courses/web-dev" class="button"> Learn More </a>
    </div><!--
    --><div class="col-1-s-0 two-wide">
            <div class="vertical-line"></div>
    </div><!--
    --><div class="col grow left">
            <div class="header-block right">
            <h2 class="block">Digital Marketing <span> Bootcamp</span></h2>
        </div>
        <p class="editable">Learn how to dig into data with google analytics, A/B test for performance optimisation, boost your websites SEO. After just 10 days you'll be confident creating digital campaigns and tracking their effectiveness across all channels.</p>
        <img src="assets/images/flow.jpg" class="full" />
        <a class="button" data-sumome-listbuilder-id="57f92ae6-1dba-41a5-9a52-a500e8503d51">Pre-Register</a>




    </div>

</section>

<section class="video-banner small padded-bottom teal-top white-bottom">

{% include slanted-down-left.html %}
        <!-- <svg class="mask top" x="0px" y="0px" viewbox="0 0 1200 100" enable-background="new 0 0 1200 100" xml:space="preserve">
        <polygon class="teal" points="0,0 1200,0 0,100 " />
        </svg> -->

    <video autoplay loop>
        <source class="lazy-load" src="" data-src="/assets/website-video-banner2.mp4" />
        your browser does not support video
    </video>
    {% include slanted-up-left.html %}

</section>

<section>
   <div class="grid-middle mob-hide">
        <img class="vert-text col-2 editable" src="../assets/text/Flow.svg" /><!--
        --><div class="col-5">
            <p class="editable">We know when people are in their 'flow' state - when they are inspired, motivated, supported and eager to learn - they can accomplish so much more than an uninspired day. So we created an environment that helps get people into a state of mind that fosters accelerated learning.</p>
        </div><!--
        --><div class="col-2 curl">
            <span class="teal"> } </span>
        </div><!--
        --><div class="col-3">
            <p class="teal editable emphasis">An accelerated learning environment</p>
        </div>
     </div>
     <div class="mob-show">
       <h2> Getting you in the FLOW state </h2>
       <p class="editable">We know when people are in their 'flow' state - when they are inspired, motivated, supported and eager to learn - they can accomplish so much more than an uninspired day. So we created an environment that helps get people into a state of mind that fosters accelerated learning.</p>
     </div>

</section>

<section class="social-proof no-padding grid">

    <div class="col-4_sm-6 first">
            <p class="editable">"It was straight out of the brochure, so happy I attended." - Claire, 2016</p>
    </div>
    <div class="col-4_sm-6 second">
            <p class="editable">"Thanks to the IOC for giving me this opportunity, for always being supportive through my journey and for teaching me some awesome skills that I will definitely help me in my future endeavours." - Jo, 2016</p>
    </div>
    <div class="col-4_sm-6 third">
            <p class="editable">"I'd definitely recommend the trip to anyone I know thats even slightly interested in WebDev to take the course and learn some new skills, meet some great people and have an experience that you won't ever forget.." - Ibrahim, 2016</p>
    </div>
    <div class="col-4_sm-6 fourth">
            <p class="editable">"The mentors were great, always there when you needed them and were so encouraging." - Christine, 2016</p>
    </div>
    <div class="col-4_sm-6 fifth">
            <p class="editable">"My eyes and heart have been opened by all the new experiences I have had and all the new people I have met, thank you IOC." - Josh, 2016</p>
    </div>
    <div class="col-4_sm-6 sixth">
            <p class="editable">"The amazing staff orchestrated everything for us so all we had to do was relax, soak in new things and have fun." - Sharny, 2016</p>
    </div>
</section>


<!---------- WHATS INCLUDED -------------->
<section class="grey inclusions padded-bottom grid white-bottom">
    <div class="col-5_sm-12">
        <h2 class="block"> WHATS <span> INCLUDED</span></h2>
        <p class="editable">We make our programs all-inclusive so you can kick back, relax and focus on learning.</p>
        <a class="button" data-sumome-listbuilder-id="5e3c2317-54d6-4c1c-845d-29f9f14fd5ed"> Download a Course Guide </a>
    </div><!--
    --><div class="col-1"><!-- spacer--></div><!--
    --><div class="col-6_sm-12">
        <ul class="no-bullets">
            <li class="editable"><i class="fa fa-check"></i>100+ hours practical coursework</li>
            <li class="editable"><i class="fa fa-check"></i>9 nights accommodation </li>
            <li class="editable"><i class="fa fa-check"></i>All meals by an in-house chef</li>
            <li class="editable"><i class="fa fa-check"></i>Daily yoga & mindfulness meditation</li>
            <li class="editable"><i class="fa fa-check"></i>Excursions & activities</li>
            <li class="editable"><i class="fa fa-check"></i>1 hour massage</li>
            <li class="editable"><i class="fa fa-check"></i>Airport transfer</li>
            <li class="editable"><i class="fa fa-check"></i>Course materials</li>
            <li class="editable"><i class="fa fa-check"></i>Ongoing support & Video Tutorials</li>
            <li class="editable"><i class="fa fa-check"></i>12 months web hosting</li>

        </ul>
    </div>
    {% include reverse-triangle-down.html %}
</svg>
</section>
<section class="border-top centered">
  <h2 class="block"> In the <span> Media </h2>
    {% include pr.html %}
</section>

<section class="banner featured centered">
    <h2 class="block"> What are you waiting for? </h2>
    <p class="editable">Apply now and accelerate your career.</p>
    <a href="/enrol" class="button">Apply Now </a>
</section>

<section class="two-box">
    <div class="box-img white-right" style="background-image:url('/assets/images/C7DX8766.jpg')">
      {% include right-slanted-top.html %}
    </div><!--
--><div class="box-text right">
      <div class="header-horiz">
        <h2>AM</h2>
        <span class="left">Study in<br>Paradise</span>
      </div>
      <p class="editable">After waking up in a tropical paradise, and maybe sneaking in a yoga session or a massage, we will dive in deep and start writing code, learning from doing... with the help of your experienced mentors, see your screen come to life from the very first day. With spectacular scenery as your backdrop, and the chef whipping up ice-cold watermelon granita to keep you refreshed, you can focus on learning, building and creating. When you need a break, take a quick dip in the pool, or sip an ice latte in the sun.</p>
</div>
</section>
<section class="two-box">
    <div class="box-img mob-show" style="background-image:url('/assets/images/girls-beach.jpg')">

    </div><!--
--><div class="box-text">
      <div class="header-horiz">
        <span class="right">Relax &<br>Explore</span>
        <h2>PM</h2>
      </div>
      <p class="editable">After enjoying a chef-prepared lunch in the shade, get back to it for another 1-2 hours of practical work. Then you are free to spend some one-on-one time with your experienced mentors working on your portfolio, or explore all that the town has to offer. Join us to wander through exotic markets, explore ancient rainforests, hit the surf or just relax with a cocktail by the pool. At night we'll gather back together in the villa for an indulgent 3+ course meal and some great company.&nbsp;</p>
   </div><!--
   --><div class="box-img mob-hide right white-left" style="background-image:url('/assets/images/girls-beach.jpg')">
         {% include left-slanted-bottom.html %}
      </div>

</section>
<!-- <section class="banner featured centered">
  <h2> Enroll Now: Nov 14 - 23 </h2>
  <p>  We've still got a few spots available for our upcoming coding bootcamp in Bali. Accelerate your career and learn in-demand digital skills in paradise now. All it takes to secure your spot is a $250 deposit. Financing options are available, contact us for more details. </p>
  <a class="button" href="/courses/web-dev"> LEARN MORE </a>
</section> -->
