---
layout: default
title: Our Story
---
<section class="our-story video-banner white-bottom">
    <div class="banner-inner">
        <h2 class="editable"> Our Story  </h2>
        <p class="editable emphasis"> Why we're trying to reinvent tech education </p>
    </div>
    {% include slanted-up-right.html %}
</section>

<!---------------------- SECTION 2 --------------------------->
<section>
    <h2> Oh hey there, </h2>
    <p> We’re so excited that you are interested in joining us and learning to code. We can’t wait to share these skills with you because we know first hand the opportunities that open up to you when you understand the language of the digital world. With coding skills we were able to travel the world - bartering with local businesses in exchange for web development work. We spent a month eating lobster and sipping cocktails at a boutique resort in Peru, learned to dive in the Caribbean and escaped to a jungle lodge in Panama.</p>

    <p>When we created The Institute of Code, we put aside everything we knew about what a school was and tried to re imagine what a school could be. We are driven by a desire to make the most out of every minute of every day and live life to the fullest, so we knew that we needed to create a program that reflected these core values. To us, that means empowering people with the skills to find work that really inspires them so they wake up as happy as we do every morning. We love that our program helps people to have more freedom in their lives by opening up new opportunities, and that the 10 days you spend with us are not just a ‘means to an end’ but an experience that you will cherish for years to come. <p>

    <p>We also know how challenging it can be to really learn practical skills without the right structure and support. We are passionate about helping you thrive, and you’ll see that in all the little touches... like how we personally get to know each student before the course so that we can tailor our content to suit you, how we provide in-depth course materials that cater to different learning styles, and how we make sure you feel totally at home from the minute you arrive. </p>

    <p> We'd love to chat to you and help you figure out if our program is the right fit for you </p>
    <p class="emphasis"> - Tina & Emilio </p>
    <p> ( Co-Founders of Institute of Code ) </p>

</section>

<section>
  <!-- Our Story Video -->
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/193453620' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
</section>

<section>
    <h2 class="block"> WHAT WE BELIEVE </h2>
    <p class="editable emphasis">
    We tried to forget everything we knew about what a school was and reimagine what a school could be...
    </p>
    <p class="editable"> It’s an idea that’s pretty ingrained it our society that assumes misery and discomfort must be more effective than anything fun. We glorify people who work 100 hours per week, and assume that hard work and enjoyment are mutually exclusive — we work hard now so that we can have fun later, when we retire. We think it’s crazy to see enjoyment and learning as mutually exclusive. We’ve built our program from the ground up not by looking at the way things have always been done, but by digging deep into educational psychology, motivation and high performance. We tried to forget everything we knew about what a school was and reimagine what a school could be.</p>
    <p class="editable"> We know that when people are in their ‘flow’ state — when they are inspired, motivated, supported and eager to learn, they can accomplish so much more than they would in a normal day. So we set out to create an environment that helped get people into a state of mind that fosters accelerated learning.</p>
    <p class="editable"> Our program doesn’t have chef prepared meals, daily yoga and meditation, and beautiful surroundings just for the sake of ‘infuriating’ people, or because it makes for an incredible experience (although that’s definitely a perk). We do it because when you remove people from the distractions of everyday life, keep them nourished with high quality food, movement and meditation, and when you give them a beautiful natural environment to surround themselves with while they learn, something amazing happens… </p>
    <p class="emphasis">People learn very fast.</p>
    <p class="editable"> It just makes sense when you think about it. We take away all of the mental distractions (cooking, cleaning, commuting, miscellaneous chores) so that people can focus on just one thing — learning to code, surrounded by other professionals, entrepreneurs and creatives in an environment that inspires them.</p>
    <p> Sure, a beautiful environment alone isn’t enough to help people build digital skills fast. You also need to have a comprehensive course, that is grounded in practical code challenges not just memorising syntax; experienced mentors who are engaged with their students and love their job (and when they are living in a luxury pool villa with all the above mentioned perks, that part comes pretty easy) and who are willing to support and nurture people’s skills long after the course has ended. But once you’ve done all those things, these little extras really take things to the next level.</p>
    <p class="emphasis">To thrive in this digital world we’re going to need to work hard, learn new skills, and adapt to change… why not do it in an environment that’s backed by science and blissfully enjoyable.</p>
    <p> The final thing that this structure creates is an environment that is inclusive to everyone. We’re trying to tackle head on the gender and diversity gap in tech, through a variety of specific initiatives like providing partial scholarships for women and anyone who has faced personal hardship, as well as the culture at our company. There’s a lot to be gained from spreading tech skills and knowledge beyond the exclusive (and predominately white male) group who’s holding on so tight to it now. We’re proud of the fact that 80% of our students so far have been female, and when you compare that against the broader statistics we know we’re doing something right.</p>

    <p> - Emilio & Tina, Co-Founders of Institute of Code </p>
</section>
<section class="border-top centered">
  <h2 class="block"> In the <span> Media </h2>
    {% include pr.html %}
</section>
