---
layout: default
title: Student Stories
student-stories:
  - image_path: /assets/images/students-christina.jpg
    image-calss:
    pic-side: right
    text: The IOC mentors were patient and very willing to take time out of their breaks to help you figure out how to add a specific feature to your site. Not only did they teach us how to do things, but they went over how to trouble shoot and how to find the help we may need once we graduate. In 10 days I was able to build two sites completely and develop skills that I'll never forget.&nbsp;<br /><br />Apart from the curriculum we were also given the opportunity to visit landmarks and participate in water sports and other activities with the team. I highly recommend this course to anyone who wants to learn how to code in a relaxed environment!! Don't hesitate to apply or even ask the IOC team for more information! &nbsp; -Christine
  - image_path: /assets/images/students-ibo.jpg
    image-class: top
    pic-side: left
    text: I expected the mentors to be more like teachers in a high school where they would probably just teach us some skills and go back to whatever they decide to do in their own time. Instead, they were such nice people that went out of their way to make connections with you and teach you not just what they knew but how to find the resources for yourself.<br /><br />The whole experience in itself will open your mind and teach you how to take any skill, business idea or even just a hobby or interest you have and use it in conjunction with the world of Web Development to take it to a whole new level, connect with new people and turn it into something you had no idea was even possible beforehand.<br />- Ibrahim&nbsp;
  - image_path: /assets/images/students-sharns.png
    image-class:
    pic-side: right
    text: The IOC Coding bootcamp was absolutely brilliant. What an incredible way to gain a new skill. It was paradise to be removed from everyday life and focus on growth. The amazing staff orchestrated everything for us so all we had to do was relax, soak in new things and have fun. Plus, so grateful for the chance to meet new friends from all over the world. Would 100% recommend.<br />-Sharny
  - image_path: '/assets/images/students-jo.jpg'
    image-class: top
    pic-side: left
    text: I had gone from not knowing anything about how to create a website to creating one that I was proud of, for a cause that I was passionate about. I felt like I could go out into the world and achieve anything if I put my mind to it. Thanks to the IOC for giving me this opportunity, for always being supportive through my journey and for teaching me some awesome skills that I will definitely help me in my future endeavours.&nbsp;<br />-Jo
---


<section class="video-banner grey-bottom">

    {% include header.html %}

    <div class="banner-inner">
        <h2 class="editable"> Our Students  </h2>
        <p class="editable emphasis"> We are passionate about helping our students succeed.</p>
    </div>
    <video autoplay loop poster="/assets/images/still_pool_sunrise.jpg">
        <source src="/assets/website-video-activities.mp4" />
        your browser does not support video
    </video>
    {% include slanted-up-left.html %}
</section>

<!-- <script src="/live.js" type="text/javascript"></script> -->

<!---------------------- SECTION 2 --------------------------->
<section class="banner grey">
  <h2> Love from our past students </h2>
  <p> We're proud of the fact that we regularly receive 5 star reviews from students around the world. Our focus is on helping our students suceed, during the retreat but also long after it ends. </p>
</section>
<section class="no-padding testimonials">
  {% for person in page.student-stories %}
    <div class='grid{% if person.pic-side == "right" %}-reverse{% endif %}_md-1'>
        <div class="col-6_md-12 pic {{person.image-class}}" style="background-image:url('{{person.image_path}}')"></div><!--
    --><div class="col padded"> <p class="editable">{{person.text}}</p> </div>
    </div>
    {% endfor %}
    <!-- <div class="two-box">
        <div class="box-text mob-dark"> <p class="editable">I expected the mentors to be more like teachers in a high school where they would probably just teach us some skills and go back to whatever they decide to do in their own time. Instead, they were such nice people that went out of their way to make connections with you and teach you not just what they knew but how to find the resources for yourself.<br /><br />The whole experience in itself will open your mind and teach you how to take any skill, business idea or even just a hobby or interest you have and use it in conjunction with the world of Web Development to take it to a whole new level, connect with new people and turn it into something you had no idea was even possible beforehand.<br />- Ibrahim&nbsp;</p> </div><!--
        --<div class="box-img right" style="background-image:url('/assets/images/students-ibo.jpg')"></div>
    </div> -->
    <!-- <div class="two-box">
        <div class="box-img" style="background-image:url('/assets/images/students-sharns.png')"></div><!--
    --<div class="box-text right"> <p class="editable">The IOC Coding bootcamp was absolutely brilliant. What an incredible way to gain a new skill. It was paradise to be removed from everyday life and focus on growth. The amazing staff orchestrated everything for us so all we had to do was relax, soak in new things and have fun. Plus, so grateful for the chance to meet new friends from all over the world. Would 100% recommend.<br />-Sharny</p> </div>
    </div> -->
    <!-- <div class="two-box">
        <div class="box-text mob-dark"> <p class="editable">I had gone from not knowing anything about how to create a website to creating one that I was proud of, for a cause that I was passionate about. I felt like I could go out into the world and achieve anything if I put my mind to it. Thanks to the IOC for giving me this opportunity, for always being supportive through my journey and for teaching me some awesome skills that I will definitely help me in my future endeavours.&nbsp;<br />-Jo</p> </div><!--
        --<div class="box-img right" style="background-image:url('/assets/images/students-jo.jpg')"></div>
    </div> -->
</section>
<section class="featured">
    <div class="six-wide">
      <h2 class="block">GET IN<span>TOUCH</span></h2>
      <p> Have a few questions before you are ready to take the plunge? Just send us through a message or live chat with us (that adorable icon in the bottom right hand corner) and one of our team will help you figure out the program that's right for you. </p>
    </div><!--
    --><div class="six-wide">
        <form action="https://formspree.io/hello@instituteofcode.com"
            method="POST">
          <input type="text" name="name" placeholder="Name"><!--
          --><input type="email" name="_replyto" placeholder="Email">
          <input type="tel" name="phone" placeholder="Phone Number"><!--
          --><input type="text" name="date" placeholder="Date Interested in">
          <textarea name="message" placeholder="Message"></textarea>
          <input type="submit" value="Send" class="button">
          <input type="text" name="_gotcha" style="display:none" />
        </form>
    </div>
</section>

{% include instagram.html %}
