---
title: Scholarship for Women in Tech
layout: default
featured-image_path: /assets/images/women-scholarship.png
---
{% include header.html %}

<section class="image-banner featured" style="background-image:url('/assets/images/tina-becky-dark.png')">

    <div class="banner-inner">
        <h2> Jump-start your future in tech </h2>
        <p class="emphasis">$3450 Scholarship for women to learn to code in Bali</p>
    </div>
<!--    <img src="/assets/shapes/triangle.svg" class="mask teal">-->
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
            <polygon class="white" points="600,250 0,350 1200,350" />
    </svg>
</section>
<section class="centered padded-bottom">
      <img src="/assets/text/banner.svg" class="mob-hide capped-width" />
      <!-- This is the upsidedown triangle -->
      <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
          <polygon class="teal" points="1200,350 1200,250 600,350 0,250 0,350" />
  </svg>
  <div class="mob-show">
      <h3 class="block"> Learn Fast </h3>
      <p> Just like learning any new language, the best way to learn to code is to dive in deep. Step away from the stress of everyday life and immerse yourself in the perfect learning environment.</p>

      <h3 class="block"> All Inclusive </h3>
      <p> We take care of everything from the minute you step off the plane so that you can just focus on learning and relaxing. We want you to be thinking about what you’re learning not the bill for lunch </p>
      <h3 class="block"> Beginner Friendly </h3>
      <p>  With no prior experience our signature course will teach you how to code beautiful responsive websites. We believe in learning by doing, so by the end of the course you’ll have built your first site!</p>
  </div>
</section>

<section class="featured centered">
  <h2 class="block"> We're working to change the <span> gender gap in tech </span> </h2>
  <div class="four-wide">
      <p class="lg-icon"> 80% </p>
      <p> of our students are female </p>
  </div><!--
  --><div class="four-wide">
      <p class="lg-icon"> $7500+ </p>
      <p> in scholarships given to women in 2016 </p>
  </div><!--
  --><div class="four-wide">
      <p class="lg-icon"> 75% </p>
      <p> of our mentors have been female </p>
  </div>

  <p class="emphasis">There is a serious gender gap in tech -- in the education pipeline, the employed workforce and the visibility of talented women in tech. That's why we've been committed to initiatives that break down the barriers for women in tech, and why we are excited to announce a Women in Tech Scholarship for Feb 2017. </p>
  <p class="emphasis"> The recipient of the scholarship will given a <strong>full ride scholarship ($3450US value)</strong> in our upcoming 10 day coding bootcamp in Bali and receive 12 months of mentorship by our CEO and founder, Tina May. </p>
</section>
<section class="image-banner centered featured" style="background-image:url('/assets/images/villa/villa-2.jpg');">
      <svg class="mask top" x="0px" y="0px" viewbox="0 0 1200 100" enable-background="new 0 0 1200 100" xml:space="preserve">
      <polygon class="teal" points="0,0 1200,0 0,100 " />
      </svg>
      <div class="banner-inner">
        <h3 class="white-text block"> Our Campus in Bali </h3>
      <div>
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
      <polygon class="white" points="0,250 1200,350 0,350" />
    </svg>
</section>
<section class="centered">
  <h2 class="block"> We've been featured in: </h2>
{% include pr.html %}
</section>

<section id="enrol">
    <div class="six-wide editable highlight-box light centered">
              <h2> Scholarship Process </h2>
              <p> 30 minutes that could change your life </p>
              <h3> Step 1: Enter your details </h3>
              <p> Just fill out your details, and we'll send you through more information and then send you through the full enrollment form </p>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              <h3> Step 2: Submit Application </h3>
              <p> We'll send you an application form that takes around 15 - 30 minutes to apply for. </p>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              <h3> Step 3: Learn to code in Bali </h3>
              <p> We'll contact everyone who has applied, announce the winner and also hand out 10x $500 scholarships to the runners up.  </p>
    </div><!--
    --><div class="six-wide padded">

        <h2 class="block"><span>APPLY NOW</span></h2>
        <p> Apply for a full ride scholarship to our Feb 4 - 13 2017 coding bootcamp in Bali which includes all tuition fees, including accomodation & meals.</p>

          <form action="https://formspree.io/hello@instituteofcode.com"
              method="POST" class="enrol">

            <label for="name"> Your Name </label>
            <input type="text" name="name" id="name" placeholder="Name">

            <label for="email"> Your Email </label>
            <input type="email" name="_replyto"  id="email" placeholder="Email">

            <label for="phone"> Your Phone Number </label>
            <input type="tel" name="phone" id="phone" placeholder="+(Country Code) Phone Number">

            <input type="submit" value="Submit" class="button">

            <!-- These are hidden fields -->
            <input type="text" name="_gotcha" style="display:none" />
            <input type="hidden" name="_next" value="/thanks-scholarship" />
          </form>

      </div>
  </section>

  <section class="centered">
    <h2 class="block"> Meet our past students </h2>
    <p> We've just celebrated our 100th student, and have helped entrepreneurs, designers, marketers, creatives and teachers with no previous experience learn how to build responsive websites in HTML, CSS & Javascript. </p>

    <div class="six-wide padded">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/0nrJ1l2vFag' frameborder='0' allowfullscreen></iframe></div>
    </div><!--
    --><div class="six-wide padded">
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/C7NHaPqmMFU' frameborder='0' allowfullscreen></iframe></div>
  </section>
  <section class="featured editable">
    <h2 class="block"> CODING BOOTCAMP <span> DATES & DETAILS </span> </h2>
    <div class="four-wide padded">
        <h3> What's Included: </h3>
        <ul class="no-bullets">
            <li class="editable"><i class="fa fa-check"></i>100+ hours practical coursework</li>
            <li class="editable"><i class="fa fa-check"></i>9 nights accommodation </li>
            <li class="editable"><i class="fa fa-check"></i>All meals by an in-house chef</li>
            <li class="editable"><i class="fa fa-check"></i>Daily yoga & mindfulness meditation</li>
            <li class="editable"><i class="fa fa-check"></i>Excursions & activities</li>
            <li class="editable"><i class="fa fa-check"></i>Airport transfer</li>
            <li class="editable"><i class="fa fa-check"></i>All Course materials</li>
            <li class="editable"><i class="fa fa-check"></i>Ongoing support & Video Tutorials</li>
            <li class="editable"><i class="fa fa-check"></i>12 months web hosting</li>
        </ul>
    </div><!--
    --><div class="four-wide padded">
              <h3> Where & When </h3>
              <p> Our 10 day coding bootcamp is held in a private pool villa nestled in the rice paddies in Canggu, Bali (just 25 minutes from Seminyak). </p>
              <p> It runs from the 4th - 13th Feb, 2017. In a typical day you would start your day with on-site yoga, enjoy breakfast prepared by an in-house chef and then spend 8am - 4pm on immersive coding activities. In the afternoons you can stay and work one-on-one with the mentors, or join us to explore Bali. </p>
    </div><!--
    --><div class="four-wide padded">
            <h3> What you'll learn </h3>
            <ul class="no-bullets">
              <li><i class="fa fa-check"></i> talk-the-talk with developers</li>
              <li><i class="fa fa-check"></i> HTML, CSS & basic jQuery</li>
              <li><i class="fa fa-check"></i> how to build a responsive website</li>
              <li><i class="fa fa-check"></i> how to create a blog </li>
              <li><i class="fa fa-check"></i> setup a basic ecommerce store</li>
              <li><i class="fa fa-check"></i> create galleries, contact forms & sliders</li>
              <li><i class="fa fa-check"></i> embed videos & interactive maps</li>
              <li><i class="fa fa-check"></i> how to set up hosting & domain names</li>
              <li><i class="fa fa-check"></i> optimising your site for google</li>
            </ul>
    </div>
  </section>
  <section class="faqs">

      <h2 class="block"> <span>FAQs</span> </h2>
      <div class="columns">
  		<h5>What experience or skills do I need to have?</h5>
  		<p>If you can send an email, watch cat videos on youtube, and stalk your ex on facebook, you have the technical chops required for this course. Zero to hero, that's the philosophy.</p>

  		<h5>Is it really all inclusive?</h5>
  		<p>We cover all of your mandatory expenses from the moment you step off the plane, including everything mentioned above and a few little bonus extras. It doesn't include your flights,  alcohol, optional excursions (like ziplining or a cooking class.), or anything outside of the necessities that you decide to spend your money on (and no, Bintang singlets are not considered a necessity).</p>

  		<h5>What can I expect to spend all up?</h5>
  		<p>Your only other mandatory cost is your flights. For the best rates, check Skyscanner. </p>
      <p> A bottle of beer will set you back $2-3 in a bar, most optional activities (like parasailing) are less than $20.</p>

  		<h5>Can I stay longer than 10 days?</h5>
  		<p>Of course. If you want to add a few days or a week on either side of your stay, we can help you book and organise everything for that. There is so much to see and explore, if you have the time, why not!</p>

  		<h5>Do I need to bring a computer?</h5>
  		<p>We ask that everyone brings along their own laptop for the course. If you don't have a laptop, we can rent one to you for a small additional cost.</p>

  		<h5>Who can attend The Institute of Code?</h5>
  		<p>We accept anyone aged 18+, and expect that those who will enjoy it the most are between 18-35, or young at heart.</p>

  		<h5>This kind of sounds too good to be true</h5>
  		<p>We actually get this a lot. We promise we are 100% legit. Want to speak to past student, mentor or even one of our Co-Founders? Just send us a message below and ask. Also check out videos and photos from our recent sessions on our instagram (@instituteofcode).</p>

      <h5> If I don't receive a scholarship, what financial support do you offer? </h5>
      <p>In addition to the full ride scholarship, we'll also be giving out 10x $500 scholarships to help ambitious women learn to code. </p>
      <p> We have a number of options to help cover the balance of the tuition fees, from 6 month payment plans to loan options where you can pay nothing upfront. </p>
      <p> Once you have applied, one of our team will give you a call to discuss the program, your goals, and how to best facilitate your attendence in the course. </p>
    </div>
  </section>
    {% include instagram.html %}
  <section class="centered">
    <div class="six-wide">
      <h2 class="block"><span>APPLY NOW</span></h2>
      <p> Apply for a full ride scholarship to our Feb 4 - 13 2017 coding bootcamp in Bali which includes all tuition fees, including accomodation & meals. </p>
      <p> Fill out the short form below, and we'll send you more details and the full application form </p>
        <form action="https://formspree.io/hello@instituteofcode.com"
            method="POST" class="enrol">

          <label for="name"> Your Name </label>
          <input type="text" name="name" id="name" placeholder="Name">

          <label for="email"> Your Email </label>
          <input type="email" name="_replyto"  id="email" placeholder="Email">

          <label for="phone"> Your Phone Number </label>
          <input type="tel" name="phone" id="phone" placeholder="+(Country Code) Phone Number">
          <input type="submit" value="Submit" class="button">

          <!-- These are hidden fields -->
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_next" value="/thanks.html" />
        </form>
      </div>
  </section>
