<section>
  <div class="six-wide">
      <h3 class="editable block">UPCOMING<span>CODING RETREATS </span></h4>
      <p class="editable"> All accommodation, meals, coursework and daily activities (like yoga) are included in the price. </p>
      <a class="button" href="/enrol"> Apply Now </a>
      <img src="/assets/images/new-villa-1.png">

  </div><!--
  --><div class="six-wide bump-down">
      <table class="enrol">
      <tr>
          <td>FEB <span>4</span></td>
          <td><span> FEB 4 - FEB 13 </span>Bali</td>
          <td><a href="/enrol" title="Enroll Now"><span>FILLING FAST</span>$3450 US</a></td>
      </tr>
       <tr>
          <td>MAR <span>3</span></td>
          <td><span> MAR 3 - MAR 12 </span>Bali</td>
          <td><a href="/enrol" title="Enroll Now"><span>FILLING FAST</span>$3450 US</a></td>
      </tr>
  </table>
  <h4 class="teal inline-block"> Want to see more 2017 dates? </h4> <a class="button" data-sumome-listbuilder-id="14156042-0b43-48ff-8d81-b7e8ef2c9504"> Send me the dates! </a>

  </div>

</section>
