<footer class="grey grid">
    <div class="col-6_sm-12 padded-right">
      <h3> The Institute of Code</h3>
      <p class="editable">Institute of Code runs 10 day immersive coding bootcamps in beautiful locations around the world. We create an environment of accelerated learning, so you can learn in demand digital skills while having an experience of a lifetime. </p>
    </div>
    <div class="col-3_sm-12">
        <nav>
            <a href="/index.html">Home</a><!--
        --><a href="/our-story">Our Story</a>
        <a href="/courses/web-dev">Web Development</a>
        <a href="/courses/marketing">Digital Marketing</a>
        <a href="/courses/blogging">Blog Mentorship</a>
        <a href="/courses/help">Help me choose</a><!--
        --><a href="/enrol">Apply Now</a>
        </nav>
    </div>
    <div class="col-3_sm-12">
        <nav>
            <a href="/payment">Financial Support</a><!--
        --><a href="/sponsorship">Sponsor a Student</a><!--
        --><a href="/careers"> Careers </a><!--
        --><a href="/student-stories" class="mob-hide">Student Stories</a><!--
        --><a href="/blog">Blog</a><!--
        --><a href="http://facebook.com/instituteofcode" target="_blank">Facebook</a><!--
      --><a href="http://instagram.com/instituteofcode" target="_blank"> Instagram</a>
      </nav>
    </div>
</footer>
