<footer class="grey">
    <div class="five-wide">
    <h3> The Institute of Code</h3>
    <p class="editable">Institute of Code runs 10 day immersive coding bootcamps in beautiful locations around the world. We create an environment of accelerated learning, so you can learn in demand digital skills while having an experience of a lifetime. </p>
    </div><div class="one-wide"></div><!--
    --><div class="three-wide">
        <nav>
            <a href="/index.html">Home</a><!--
        --><a href="/our-story">Our Story</a><!--
        --><a href="/courses/web-dev">Courses</a><!--
        <a href="/courses/front-end.html">Front-End Development</a>
        --><a href="/courses/help">Help me choose</a><!--
        --><a href="/enrol">Enroll Now</a>
        </nav>
    </div><!--
    --><div class="three-wide">
        <nav>
            <a href="/payment">Financial Support</a><!--
        --><a href="/sponsorship">Sponsor a Student</a><!--
        --><a href="/careers"> Careers </a><!--
        --><a href="/student-stories" class="mob-hide">Student Stories</a><!--
        --><a href="/blog">Blog</a><!--
        --><a href="http://facebook.com/instituteofcode" target="_blank">Facebook</a><!--
      --><a href="http://instagram.com/instituteofcode" target="_blank"> Instagram</a>
      </nav>
    </div>
</footer>
