<!-- Page Title, Facebook Share & Meta-Data -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{page.title}}</title>
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.description}}">
<meta property="og:image" content="../assets/images/tina-becky-6238.jpg">

<!-- Link to Stylesheet -->
<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/gridlex.css">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">
<link href="/css/pure-drawer.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">


<!-- To load adobe typekit -->
<script src="https://use.typekit.net/ttf5gax.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- to load font-awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<!-- to load SumoMe -->
<!--<script src="//load.sumome.com/" data-sumo-site-id="a757e3ffffa0a1c809aeaf56feab816e2e8119068f5eec79271fbfd9f320d917" async="async"></script>-->

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='132792420-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65962958-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- End of Google Analytics -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KPV7W8');</script>
<!-- End Google Tag Manager -->

<!-- To load lazy loading of images -->
<script src="https://cdn.jsdelivr.net/layzr.js/2.0.2/layzr.min.js"></script>

<script>
const instance = Layzr()
document.addEventListener('DOMContentLoaded', event = {
  instance
    .update()           // track initial elements
    .check()            // check initial elements
    .handlers(true)     // bind scroll and resize handlers
})
</script>

{{page.custom-head}}
