<header>
    <a href="/index.html"><img src="/assets/images/ioc-logo-med-long.svg" alt="Institute of Code" class="logo"></a>
    <nav class="mob-hide">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/our-story">Our Story</a></li>
            <li><a href="/courses/web-dev">Our Course</a>
            <li><a href="/campus">Our Campus</a></li>
            <li><a href="/student-stories">Student Stories</a></li>
            <li><a href="/enrol">Enroll</a></li>
        </ul>
    </nav>
</header>
