<ul class="no-bullets">
    <li class="editable"><i class="fa fa-check"></i>100+ hours practical coursework</li>
    <li class="editable"><i class="fa fa-check"></i>10 nights accommodation </li>
    <li class="editable"><i class="fa fa-check"></i>All meals by an in-house chef</li>
    <li class="editable"><i class="fa fa-check"></i>Daily yoga & mindfulness meditation</li>
    <li class="editable"><i class="fa fa-check"></i>Excursions & activities</li>
    <li class="editable"><i class="fa fa-check"></i>1 hour massage</li>
    <li class="editable"><i class="fa fa-check"></i>Airport transfer</li>
    <li class="editable"><i class="fa fa-check"></i>Course materials</li>
    <li class="editable"><i class="fa fa-check"></i>Ongoing support & Video Tutorials</li>
    <li class="editable"><i class="fa fa-check"></i>12 months web hosting</li>
</ul>
