<nav class="mobile-nav">
    <a href="/index.html">Home</a>
    <a href="/our-story">Our Story</a>
    <a href="/courses/web-dev">Courses</a>
    <a href="/campus">Our Campus</a>
    <a href="/student-stories">Student Stories</a>
    <a href="/enrol">Enroll Now</a>

    <hr>

    <a href="/blog">Blog</a>
    <a href="/payment">Financial Support</a>
    <a href="/sponsorship">Sponsor a Student</a>
    <a href="/careers"> Careers </a>
    <!-- <a href="/contact"> Get in Touch </a> -->

    <hr>

    <a href="http://facebook.com/instituteofcode" target="_blank" class="social-icon">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="http://instagram.com/instituteofcode" target="_blank" class="social-icon">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="http://twitter.com/instituteofcode" target="_blank" class="social-icon">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
</nav>
