<div class="grid-middle pr-logos">
  <div class="col-3_sm-6">
      <a href="https://www.youtube.com/watch?v=ub3H3xgFrAY" target="_blank">
        <img src="/uploads/pr-logos/cnn-logo.png">
      </a>
  </div><!--
  --><div class="col-3_sm-6">
    <a href="http://www.huffingtonpost.com/entry/5841ff37e4b04587de5de9ea?timestamp=1480876744898" target="_blank">
      <img src="/uploads/pr-logos/huffington-post-logo.png">
    </a>
  </div><!--
  --><div class="col-3_sm-6">
    <a href="http://thehustle.co/interview-with-institute-of-code" target="_blank">
      <img src="/uploads/pr-logos/thehustle.svg">
    </a>
  </div><!--
  --><div class="col-3_sm-6">
    <a href="http://www.mamamia.com.au/institute-of-code/" target="_blank">
      <img src="/uploads/pr-logos/New-Mamamia-Logo.jpg">
    </a>
  </div>
</div>
