
.header-block {
  padding        : 0 10px;
  text-transform : uppercase;
  line-height    : 1.2em;
}

.header-block.left {
  border-left : 3px solid #41414D;
}

.header-block.right {
  border-right : 3px solid #41414D;
  text-align   : right;
}

.header-block h2 {
  margin-top : 0;
}
.block {
  text-transform: uppercase;
  font-size: 1.5em;
}

.white-text {
  color: white;
}

.block span {
  display     : block;
  font-size   : 1.8em;
  line-height : 1.1em;
}

.lg-icon {
  font-weight: bold;
  font-size: 2rem;
}
.pr-logos .three-wide {
    vertical-align: middle;
    display: inline-block;
}

.grid div.header-horiz {
  padding: 0;
}

.header-horiz > span {
  display: inline-block;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: normal;
}
.header-horiz >span.right {
    border-right: 2px solid rgb(80,80,85);
    padding-right: 10px;
}
.header-horiz >span.left{
    border-left: 2px solid rgb(80,80,85);
    padding-left: 10px;
}

.header-horiz h2 {
  display: inline-block;
  font-size: 3.5rem;
  margin: 0.25em 0;
}

.columns {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns:3;
}

.columns p {
  margin-top : 0;
}

.header-text {
  width : 17em;
}

.header-text.small {
  width : 14em;
}

.location-text {
  height : 5em;
}

.vertical-line {
  position    : absolute;
  left        : 50%;
  height      : 70%;
  margin      : 1em 0 10vh;
  border-left : 3px solid #41414D;
}

.border-right {
  border-right : 3px solid rgb(120,120,125);
}

.bump-down {
  padding-top : 1em;
}
