input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-size: 0.8em;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  vertical-align: top;
  font-family: "Macho";
  position: relative;
}

form input {
  width: 48%;
  margin: 1%;
}
form textarea {
  display: block;
  width: 98%;
  margin: 1%;
}

form input[type="submit"] {
  background: none;
  width: auto;
  margin: auto;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 8rem;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .3rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .3rem;
  font-weight: normal; }

  /* Enrolment Form */

.enrol ::-webkit-input-placeholder {
  color: rgb(150,150,150);
}
.enrol ::-moz-placeholder {
  color: rgb(150,150,150);
}
.enrol :-ms-input-placeholder {
  color: rgb(150,150,150);
}
.enrol :-moz-placeholder  {
  color: rgb(150,150,150);
}
form.enrol label {
  color: #00A9BF;
}

form.enrol input, form.enrol textarea {
    background-color: transparent;
    color: rgb(60,60,60);
    border: 1px solid #00A9BF;
    padding: 0.5rem;
    border-radius: 3px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 300;
    vertical-align: bottom;
    margin: 0 0 1em;
    display: inline-block;
}
form.enrol input[type="submit"] {
  background-color: #00A9BF;
  color: white;
  font-weight: bold;
  padding: 1em;
}
form.enrol input[type="submit"]:hover {
  background-color: white;
  color: #00A9BF;
  border: 2px solid #00A9BF;
  font-weight: bold;
  padding: 1em;
}

@media(max-width:700px) {
  form.enrol input,
  form.enrol textarea {
      font-size: 1rem;
  }
}
