
.md-page h2 {
    text-transform : uppercase;
    line-height    : 1.2em;
    color: #00A9BF;
}

.md-page h3 {
    font-weight: 300;
    color: #00A9BF;
}
.md-page ol {
  list-style:decimal;
  list-style-position: outside;
}
