
/* --- Enrolment table ---- */

table.enrol {
  width          : 100%;
  border-spacing : 0 1.5em;
  font-weight: 300;
}

td {
  padding        : 0 1.5em;
  vertical-align : bottom;
}


td:first-child {
  color        : #00A9BF;
  border-right : 2px solid rgb(150,150,155);
  text-align   : right;
}

td:first-child span {
  display: block;
  font-size: 3em;
  line-height: 0.9em;
  font-family: "Proxima Nova";
  font-weight: 200;
}

td:nth-child(3) {
  border-left : 2px solid rgb(150,150,155);
}

td:nth-child(2) span,
td:nth-child(3) span {
  display     : block;
  color       : rgb(150,150,155);
  font-weight : bold;
}

td:nth-child(2) span.teal,
td:nth-child(3) span.teal {
  display     : block;
  color       : #00A9BF;
  font-weight : bold;
}

.padded div {
  padding : 7vh 5%;
}

p.teal,
span.teal {
  color : #00A9BF;
}
