
body {
  color: $color-body;
  font-family : $font-body;
}

li {
  list-style-position: inside;
  font-weight: 300;
  font-size: 17px;
}

.no-bullets li {
  list-style: none;
}

footer,
header,
section {
  padding : 5vh 10%;
}

nav hr {
  padding: 2em 0;
}

.padded {
  padding: 5%
}

.padded-top {
  padding-top: 10%;
}

.padded-bottom {
  padding-bottom: 10%;
}


.no-padding {
  margin  : 0;
  padding : 0;
}

section {
  position       : relative;
  top            : 0;
  left           : 0;
  min-height     : 30vh;
  padding-top    : 5%;
  padding-bottom : 5%;
  overflow       : hidden;
}

.banner {
  padding : 8vh 10%;
}
.image-banner {
  padding: 8vh 10%;
  min-height: 80vh;
  background-size: cover;
  background-position: center;
}
.padded-bottom {
  padding-bottom: 12%;
}


.no-bullets {
  list-style : none;
}

.capped-width {
  max-width: 1080px;
}

.inline-block {
  display: inline-block;
  margin: 1em;
}

.featured {
  color            : $color-featured-f;
  border-color     : #fff !important;
  background-color : $color-featured;
}
.dark {
  color: $color-dark-f;
  background-color: $color-dark;
}
.light {
  color: $color-light-f;
  background-color: $color-light;
}

.featured h2,
.dark h2 {
  color: white;
}

.border-top {
  border-top: 1px solid rgb(245,245,245);
}

.featured .header-block.left,
.featured .header-block.right,
.featured .vertical-line {
  border-color : white;
}

.centered {
  text-align : center;
}

.right {
  margin-left : auto;
  text-align  : right;
}

.left {
  text-align : left;
}

.padded-right {
  padding-right: 5%;
}

.float-right {
  float: right;
}

/* two box with equal heights*/


.two-box {
  position: relative;
  padding: 0;
}
.box-img {
  position: absolute;
  height: 100%;
  width: 50%;
  top:0;
  background-size: cover;
  background-position: center;
}
.box-text {
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 5% 10%;
}
.box-img.right {
  left: 50%;
}
.box-text.right {
  margin-left: 50%;
}

.testimonials .box-text {
    min-height: 350px;
}

.mob-show {
  display: none!important;
}
