---
title: Open Day | Institute of Code
layout: default
---

<section class="video-banner" style="background-image:url({{page.background-1_path}});">

    {% include header.html %}

    <div class="banner-inner">
        <h2> Campus Open Day </h2>
        <p class="emphasis">Canggu Bali | 3pm - 8pm 11th Nov 2016</p>
    </div>
    <video autoplay loop poster="/assets/images/Nick.png">
        <source class="lazy-load" src="" data-src="/assets/website-video-coding1.mp4" type="video/mp4">
        your browser does not support video
    </video>
<!--    <img src="/assets/shapes/triangle.svg" class="mask teal">-->
    <svg class="mask" x="0px" y="0px" viewbox="0 250 1200 100" enable-background="new 0 250 1200 100" xml:space="preserve">
            <polygon class="white" points="600,250 0,350 1200,350" />
    </svg>
</section>

<section>
  <h2 class="block"> COME JOIN US TO CELEBRATE OUR NEW <span> CAMPUS IN CANGGU <span> </h2>
  <p class="emphasis"> To celebrate the launch of our new campus in Canggu we're hosting an open day... come and meet the team, explore our campus, and network with like minded individuals while you hang out by the pool. </p>
  <p> Our chef will be whipping up <strong> complimentary tapas </strong> throughout the afternoon, and we'll have a bartender onsite for you to order cocktails. We'd love to meet the entrepreneurs, digital nomads and local community in Bali as well as anyone interested in attending the course who happens to be around. </p>
  <p> Space is limited, request an invitation below </p>
  <img class="full-width" src="/assets/images/new-villa-1.png" alt="institute of code campus">
  <img class="half-width" src="/assets/images/villa/villa-2.jpg" alt="institute of code campus"><!--
  --><img class="half-width" src="/assets/images/villa/villa-3.jpg" alt="institute of code campus">
  <img class="half-width" src="/assets/images/villa/villa-4.jpg" alt="institute of code campus"><!--
  --><img class="half-width" src="/assets/images/villa/villa-5.jpg" alt="institute of code campus">
  <h2> Want to learn more? Check out our recent coverage by CNN </h2>
  <iframe width="100%" height="350" src="https://www.youtube.com/embed/ub3H3xgFrAY" frameborder="0" allowfullscreen></iframe>

</section>
<section class="featured">
  <h2 class="block">REQUEST<span>AN INVITE</span></h2>
  <form action="https://formspree.io/hello@instituteofcode.com"
      method="POST">
    <p> As places are limited please let us know why you are interested in attending (ie potential student, press, influencer, partnership, local entrepreneur or digital nomad, just curious etc.) </p>
    <input type="text" name="name" placeholder="Name"><!--
    --><input type="email" name="_replyto" placeholder="Email">
    <input type="tel" name="phone" placeholder="Phone Number"><!--
    --><input type="text" name="date" placeholder="Instagram">
    <textarea name="message" placeholder="I want to come because..."></textarea>
    <textarea name="message" placeholder="Tell us a little bit about yourself"></textarea>
    <input type="submit" value="Send" class="button">
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_next" value="/thanks.html" />
  </form>

</section>


<section class="grey centered header-horiz">
  <h2> ABOUT OUR 10 DAY CODING COURSE </h2>
</section>
<section class="two-box">
    <div class="box-img" style="background-image:url('/assets/images/C7DX8766.jpg')">
      <svg class="arrow-right" x="0px" y="0px" viewbox="0 0 100 600" enable-background="new 0 0 100 600">
          <polygon class="white" points="0,0 100,600 100,0" />
      </svg>
    </div><!--
--><div class="box-text right">
      <div class="header-horiz">
        <h2>AM</h2>
        <span class="left">Study in<br>Paradise</span>
      </div>
      <p class="editable">After waking up in a tropical paradise, and maybe sneaking in a yoga session or a massage, we will dive in deep and start writing code, learning from doing... with the help of your experienced mentors, see your screen come to life from the very first day. With spectacular scenery as your backdrop, and the chef whipping up ice-cold watermelon granita to keep you refreshed, you can focus on learning, building and creating. When you need a break, take a quick dip in the pool, or sip an ice latte in the sun.</p>
</div>
</section>
<section class="two-box">
    <div class="box-img mob-show" style="background-image:url('/assets/images/girls-beach.jpg')">

    </div><!--
--><div class="box-text">
      <div class="header-horiz">
        <span class="right">Relax &<br>Explore</span>
        <h2>PM</h2>
      </div>
      <p class="editable">After enjoying a chef-prepared lunch in the shade, get back to it for another 1-2 hours of practical work. Then you are free to spend some one-on-one time with your experienced mentors working on your portfolio, or explore all that the town has to offer. Join us to wander through exotic markets, explore ancient rainforests, hit the surf or just relax with a cocktail by the pool. At night we'll gather back together in the villa for an indulgent 3+ course meal and some great company.&nbsp;</p>
   </div><!--
   --><div class="box-img mob-hide right" style="background-image:url('/assets/images/girls-beach.jpg')">
         <svg class="arrow-left" x="0px" y="0px" viewbox="0 0 100 600" enable-background="new 0 0 100 600">
             <polygon class="white" points="0,600 0,0 100,600" />
         </svg>
      </div>

</section>
{% include instagram.html %}
