---
title: Institute of Code
layout: default
background-1_path: /assets/images/still_coding_1.jpg
background-2_path: /assets/images/still_coding_abi.jpg
---
<section class="video-banner white-bottom" style="background-image:url({{page.background-1_path}});">

    {% include header.html %}

    <div class="banner-inner">
        <h2 class="editable"> Zero to Hero </h2>
        <p class="editable emphasis"> Learn how to build kickass websites </p>
    </div>
    <video autoplay loop>
        <source class="lazy-load" src="" data-src="/assets/website-video-coding1.mp4" />
        your browser does not support video
    </video>
{% include slanted-up-right.html %}
</section>

<!---------------------- SECTION 2 --------------------------->
<section class="padded-bottom white-bottom">
    <h2 class="block">WEB DEVELOPMENT<span>BOOTCAMP</span></h2>
    <p class="emphasis editable">No coding experience? No worries! </p>
    <p class="editable">No coding experience? No worries! Our 10 day bootcamp will take you from little or no experience to creating your very own beautiful, responsive websites in no time! You will learn how to use HTML, CSS and Javascript to design, create and build websites for scratch. There is no prior experience or skills required before joining this bootcamp! Whether you are a freelance creative, entrepreneur, business owner or marketer we make sure our mentors know exactly what you want to get out of the program so they can help you achieve your goals!</p>
    <p class="editable"> By the end of the program you will have built a <strong>portfolio of 1 - 2 live responsive websites!</strong> </p>
    {% include slanted-up-left.html %}
</section>


<!----------- SECTION 3 --------------------------->
<section class="featured centered padded circles padded-bottom white-bottom">
    <h2 class="editable"> Who this is perfect for...</h2>
    <div class="grid-3_s-2">
      <div class="col">
          <img class="editable" src="/assets/images/students-sharns.png" />
          <h3 class="editable"> Marketers </h3>
          <p class="editable">Learn to talk-the-talk with developers, and accelerate your career.</p>
      </div><!--
      --><div class="col">
          <img class="editable" src="/assets/images/students-christina.jpg" />
          <h3 class="editable">Entrepreneurs</h3>
          <p class="editable">Discover how to build websites for businesses without the need of a developer.</p>
      </div><!--
      --><div class="col">
          <img class="editable" src="/assets/images/students-claire.jpg" />
          <h3 class="editable">Graphic Designers</h3>
          <p class="editable">Combine your design skills with web development to stand out from the crowd.</p>
      </div><!--
      --><div class="col">
          <img class="editable" src="/assets/images/students-josh.jpg" />
          <h3 class="editable">Start-up Owners</h3>
          <p class="editable">Take control of your own web development process.</p>
      </div><!--
      --><div class="col">
          <img class="editable" src="/assets/images/students-ibo.jpg" />
          <h3 class="editable">Project Managers</h3>
          <p class="editable">Optimise operations and know how to hire a strong team</p>
      </div><!--
      --><div class="col">
          <img class="editable" src="/assets/images/students-jo.jpg" />
          <h3 class="editable">Digital Nomads</h3>
          <p class="editable">Create, style and build your own blog or website.</p>
      </div>
    </div>
    {% include slanted-up-left.html %}
</section>

<!---------------------- SECTION 4 --------------------------->

<section>
   <div class="vert-center grid-middle">
        <h2 class="block grid-0_sm-12">WHAT YOU WILL<span>LEARN</span></h2>
        <img class="vert-text col-2_sm-0 editable mob-hide" src="/assets/text/Learn.svg" /><!--
        --><div class="col-5">
            <ul>
              <li>+ web fundamentals </li>
              <li>+ talk-the-talk with developers</li>
              <li>+ HTML, CSS & basic Javascript</li>
              <li>+ how to build a responsive website</li>
              <li>+ how to create a blog </li>
              <li>+ setup an ecommerce store</li>
              <li>+ create galleries, contact forms & sliders</li>
              <li>+ embed videos & interactive maps</li>
              <li>+ cross-browser compatability</li>
              <li>+ how to set up hosting & domain names</li>
              <li>+ optimising your site for google</li>
            </ul>
        </div><!--
        --><div class="col-2_sm-0 curl mob-hide">
            <span class="teal"> } </span>
        </div><!--
        --><div class="col-3_sm-0">
            <p class="teal editable emphasis">how to build kickass websites from scratch</p>
            <p> </p>
        </div>
     </div>
</section>

<!-------------- SECTION 5 - VIDEO  ---------------->
<section class="video-banner small white-bottom white-top">
        {% include slanted-down-left.html %}

    <video autoplay loop>
        <source class="lazy-load" src="" data-src="/assets/website-video-coding2.mp4"/>
        your browser does not support video
    </video>
    {% include slanted-up-left.html %}
</section>


<!---------------------- SECTION 6 - OUTCOMES  ------------------------->
<section class="banner">
    <h2 class="block"> YOUR <span> OUTCOMES </span></h2>
    <p class="editable">You'll come away from one of our web development bootcamps with the skills and confidence to build and manage 1-2 fully responsive websites from scratch. Not bad for 10 days!<br /><br />You'll be learning the latest tools and technologies, going beyond textbook basics and gaining real insights from experienced mentors who are actively working in the industry. Learn best practices, common trends, and which skills to continue to develop and improve if you want to land the job of your dreams.&nbsp;</p>
    <a data-sumome-listbuilder-id="5e3c2317-54d6-4c1c-845d-29f9f14fd5ed" class="button"> Download a Course Guide </a>
</section>



<!------ SECTION 6 --------------------------->
<section class="featured two-box"> <!--two-col grid no-padding large -->
    <div class="box-text">
      <h2 class="editable block"> GETTING IN THE <span>FLOW STATE</span></h2>

      <p class="editable">Every element of the program and curriculum was created with an understanding of educational psychology, motivation, and high performance in order to help our students get into the 'flow state' of peak performance.</p>
      <p class="editable"> When you create an environment that motivates and inspires, and take care of all of your students needs then something amazing happens .. they learn really fast</p>
      <p class="editable"> By removing people from the stress of their everyday lives, creating an environment that inspires, and taking care of every one of our students needs then they are able to focus all of their mental energy on learning a new skill.</p>
      <!-- <p class="editable"> We hire only experienced professionals actually working in the industry not full-time academics and we make sure they are inspired and ready to teach because we provide them with all the same ammenities that the students receive. With 3 mentors for only 12 students, you know you'll get the one-on-one attention you need to thrive </p> -->
     </div><!--
    --><div class="box-img right teal-left" style="background-image:url('/assets/images/WebDev-flowstate.jpg');">
        {% include left-slanted-bottom.html %}
    </div>
</section>

<!-- GRID OF BEAUTIFUL PEOPLE



<section class="social banner">
    <h2 class="editable"> Love from our past students </h2>
    <div class="bump-down">
    <div class="one-wide">
        <span class="quote-mark"> " </span>
    </div>
    <div class="slider ten-wide">
        <div class="slide">
           <div class="author">
                <img src="../assets/images/students-jo.jpg" class="editable" />
               - Jo
            </div>
            <p class="editable">Thanks to the IOC for giving me this opportunity, for always being supportive through my journey and for teaching me some awesome skills that I will definitely help me in my future endeavours.</p>
        </div>
    </div>
    <div class="one-wide right">
        <span class="quote-mark"> " </span>
    </div>
</div></section> -->

{% include dates.html %}

<!------ SECTION 6 --------------------------->
<section class="two-box featured">
    <div class="box-img teal-right" style="background-image:url('/assets/images/webdev-need-help.jpg');">
      {% include right-slanted-top.html %}
    </div><!--
--><div class="box-text right">
        <h2 class="editable"> Need Help? </h2>
        <p class="editable">We can help you decide which is the best program for you, talk you through our philosophy and outcomes that you can expect.</p>
        <a class="button" href="/courses/help.html"> Skype with a course advisor </a>
        <p class="editable"> Just want more information? Download a course-guide for detailed curriculum, reviews from past students, and more. </p>
        <a data-sumome-listbuilder-id="5e3c2317-54d6-4c1c-845d-29f9f14fd5ed" class="button"> Download a Course Guide </a>
    </div>
</section>

<section class="banner centered">
    <h2 class="editable"> Ready to accelerate your career? </h2>
    <p class="editable">Get ahead of your competition</p>
    <a class="button" href="/enrol.html">Enroll Now</a>
</section>
